
  
  /* Styles for the container */
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles for the main heading */
  .about-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color:#44475a;
    
  }
  
  /* Styles for subheadings */
  .about-subtitle {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #44475a;
    
  }
  
  /* Styles for paragraphs */
  .about-paragraph {
    margin-bottom: 20px;
    color: #fff;
  }
  
  /* Styles for the unordered list */
  .about-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  /* Styles for list items */
  .about-list-item {
    margin-bottom: 10px;
    color:#fff;
  }
  
  /* Styles for emojis */
  .emoji {
    margin-right: 5px;
  }
  
  /* Styles for the button */
  .btn {
    display: inline-block;
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #0052a3;
  }
  
  /* Styles for links */
  .link {
    color: #0066cc;
    text-decoration: none;
    border-bottom: 1px solid #0066cc;
    transition: border-bottom 0.2s;
  }
  
  .link:hover {
    border-bottom: 1px solid #0052a3;
  }
  